
* {
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-size:1rem;
}

html {
	font-size:62.5%;
}

ul {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;

}

ol {
	margin: 50px;

}

#image {
	display: flex;
	width: 100%;
}
img {
	width: 100%;
}

#menu {
background-color: white; 
height: 100px; 

}
article { 
	width: 80%;
	margin: auto;
	margin-bottom: 50px;
}
.grid {
	margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px; ;
  
    width: 80%;
    margin: auto;
    background-color:  #e5e7e9;




}


.item{

     justify-self: end;
     align-self: end;

}

.footer{
	height: 100px; 
	width: 100%;
	background-color: white;
}

a {
	color: black;
	text-decoration: none;
	font-size: 20px;
	margin-right: 20px;
}
h3{
	font-size: 20px;
	color: white;
}